.contatoFooter {
    background-color: #005695;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 18vh;
    color: #ffff;
    padding-left: 2%;
    font-size: 18px;
  
    nav {
      width: 15%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-right: 12%;
    }
  }
  
  .copyright {
    background-color: #232020;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffff;
  }

@media (max-width: 780px){
    .contatoFooter{
        flex-direction: column;

        nav {
            width: 50%;
        }
    }

    .copyright {
        font-size: 12px;
        
        p {
            width: 60%;
            text-align: center;
        }
    }
}